*{
  margin: 0;
  padding: 0;
}
h1{
  margin: 15px;
  text-align: center;
}
div.back{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.back i{
  margin: 30px 10px;
}
div.back p{
  font-size: 20px;
}
div.video{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}